/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

::selection {
    background: transparent;
    color: inherit;
}

/* VARIABLES */
:root {
    --base-spacing: 1rem;
    --text-color: #fff;
    --purple: #12124d;
}

/* UTILITIES */
.hidden {
    display: none !important;
}

/* MAIN */
.wrapper {
    font-family: "Press Start 2P", cursive;
}

.top-gui {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--base-spacing);
    color: var(--text-color);
}

.bottom-gui {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--base-spacing);
    color: var(--text-color);
}

.header {
    font-size: 4rem;
    max-width: 500px;
    line-height: 1.25;
    text-align: center;
    margin: 0 auto;
}

.menu-container {
    margin-top: calc(var(--base-spacing) * 2);
}

.main-gui {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    text-align: center;
}

.button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: calc(var(--base-spacing) / 2);
    margin-top: var(--base-spacing);
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
}

.button:hover,
.button:focus,
.button:active {
    border-color: var(--text-color);
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--base-spacing);
}

.coffee-container {
    position: absolute;
    bottom: var(--base-spacing);
    right: var(--base-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--base-spacing);
    opacity: 0.2;
}

.coffee-container:hover {
    opacity: 1;
}

.credits-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.credits-link {
    color: var(--text-color);
}

input[type="range"] {
    accent-color: var(--text-color);
}
