*,
*::before,
*::after {
    box-sizing: border-box;
    cursor: default;
}

::selection {
    background-color: transparent;
}

:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue) var(--saturation) 75%);
    --background-color: hsl(var(--hue) var(--saturation) 20%);
    --base-spacing: 1rem;
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
}

a {
    color: var(--foreground-color);
}

.hidden {
    display: none;
}

button {
    font-family: "Press Start 2P", cursive;
}

input {
    font-family: "Press Start 2P", cursive;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    width: 2.5vh;
    height: 2.5vh;
    background-color: var(--foreground-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.game-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.game-loader .ball {
    position: absolute;
    top: 50vh;
    left: 0;
    animation-name: bounce-x;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}

.game-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.game-title {
    margin: 0;
    font-size: 90px;
    text-align: center;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5vh;
    color: var(--foreground-color);
    background: var(--background-color);
    transition: opacity 0.3s ease-out;
}

.button {
    padding: 1vh 3vh;
    background: none;
    font-weight: bold;
    color: var(--foreground-color);
    border: 0.25em solid var(--foreground-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.button:focus {
    outline: none;
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.paddle {
    --position: 50;

    position: absolute;
    top: calc(var(--position) * 1vh);
    width: 1vh;
    height: 10vh;
    background-color: var(--foreground-color);
    transform: translateY(-50%);
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}

.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    opacity: 0.5;
}

.score > :first-child {
    text-align: right;
    border-right: 0.5vh solid var(--foreground-color);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    height: 3em;
    padding: 0.5em;
    background-color: transparent;
    color: var(--foreground-color);
    border: none;
    border-bottom: 0.25em solid var(--foreground-color);
    outline: transparent;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.form-control:focus {
    opacity: 1;
}

.label {
    font-size: 0.75em;
}

.notifications {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5em;
}

.notification {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    max-width: 300px;
    padding: 1em;
    color: var(--background-color);
    font-size: 0.75rem;
    background-color: var(--foreground-color);
    border-radius: 0.25em;
    overflow: hidden;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--background-color);
}

.notification-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--background-color);
    animation-name: progress;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 var(--base-spacing);
    color: var(--foreground-color);
    font-size: 0.75rem;
}

body[screen="game"] .footer {
    display: none;
}

.credits {
    opacity: 0.3;
}

.donation {
    opacity: 0.3;
}

.credits:hover {
    opacity: 1;
}

.donation:hover {
    opacity: 1;
}

@keyframes progress {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounce-x {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}
